.root {
  margin-bottom: 250px;
}

.root h2 {
  font-weight: 600;
  font-size: 48px;
  color: var(--text-color-dark);
  text-align: center;
  margin-bottom: 70px;
}

.wrapper {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-between;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 20px;

  flex: 1;
}

.card h3 {
  font-weight: 600;
  font-size: 30px;
  color: #263238;
}

.card p {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #var(--text-color-grey);
}

.price {
  background: #eeeeee;
  border-radius: 5px;
  text-align: center;
  margin-top: auto;
  width: 240px;

  font-size: 18px;
  line-height: 27px;
  color: #546269;
}

.price span {
  font-size: 30px;
  line-height: 45px;
  color: #263238;
}
