.root {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-top: 31px;
  padding-bottom: 64px;
}

.nav {
  display: flex;
  gap: 30px;

  list-style-type: none;
  cursor: pointer;
}

.nav li {
  position: relative;

  font-size: 24px;
  color: #var(--text-color-grey);
}

.nav li:not(:last-child)::before {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #8f95a5;
  top: 40%;
  right: -20px;
}
